.div__arrangement{
  display: flex;
 justify-content: center;

 margin-top: 20px;
}

.img__display{
 width: 295px;
 height: 265px;
  margin-right: 20px;
  border-radius: 5px;
}

.img__display:hover{
  width: 290px;
  transition: 0.3s ease-in-out;
}

.img_photo_res{
text-align: center;
}
.mid__space{
  height: 55px;
}

.header{
height: 10vh;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
text-align: center;
}

.div__arrangement{

  
}

.list{
  margin-top: 20px;
  width: 100vw;
  height:10vw
}